body, html{
    background:#f1f4f6;
    overflow:hidden;
}
.user_lookup input{
    width:400px;
    border-radius:10px;
    border:none !important;
}
.user_lookup a.button{
    border-radius:10px;
} 
.user_lookup a.button .icon{
    margin-left: calc(0.35em - 1px) !important;
    margin-right: calc(0.35em - 1px) !important;
}

.cloud > *{
    text-align:center;
}
.cloud > .icon{ 
    margin:0 auto;
    width:100%;
}
.cloud.is-success > .icon svg path, .cloud.is-success .subtitle{
    fill: var(--success);
    color:var(--success);
}
.cloud.is-warning > .icon svg path, .cloud.is-warning .subtitle{
    fill: #9f24c3;
    color:#9f24c3;
}
.cloud.is-link > .icon svg path, .cloud.is-link .subtitle{
    fill: var(--link);
    color:var(--link);
}
.cloud .title{
    font-weight:bold;
    color:rgb(72, 72, 87);
}
.cloud{
    transform-origin:top;
    transition:all 0.3s ease;
}
.column:first-child .cloud{
    transform-origin:top left;
}
.column:last-child .cloud{
    transform-origin:top right;
}
.header{
    height:64px;
    background:white;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 15px;
    z-index:10;
    position:relative;
}
.app{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.sidebar{
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    padding:0.8rem 0;
    width:200px;
    height:calc(100vh - 64px);
    background:white;
}
.sidebar .sidebar_item{
    color:black;
    width: calc(100% - 30px);
    display:flex;
    align-items: center;
    padding:6px 0 6px 15px;
    font-size:13px;
    margin:5px 15px;
    border-radius:8px;
    transition:all 0.3s ease;
}
.sidebar .sidebar_item span:not(.icon){
    margin-left:10px;
}
.sidebar .sidebar_item.is-active, .sidebar .sidebar_item:hover{
    background:var(--primary);
    color:white;
}
.sidebar hr{ background-color:var(--primary); width:80%; margin: 1rem auto; height:1px; }
.main{
    max-height: calc(100vh - 64px);
    width:calc(100vw - 200px);
    overflow: auto;
}
.splash{
    background: rgb(59,138,250);
    background: linear-gradient(223deg, rgba(59,138,250,1) 16%, #a544df 46%, rgba(253,64,71,1) 100%);
    padding:3em 40px 10em;
}
.window{
    margin-top:-10em;
    padding: 60px;
}
.container.is-bottom{
    padding-bottom:30vh;
}
.navbar-item img{
    max-height:unset!important;
}

.sidebar_nav{ width:250px; }
.sidebar_nav a span.icon{ margin-right:7px; transform:translateY(1px); }

.badges{
    display:flex;
    margin-bottom:10px;
}

.badge{ padding:0.4em 1.5em; border:2px solid transparent; border-radius:8px; position:relative; margin-right:10px; font-size: 12px; }
.badge.is-primary{ border-color:var(--primary); } .badge.is-primary .badge-content{ color:var(--primary); }
.badge.is-success{ border-color:var(--success); } .badge.is-success .badge-content{ color:var(--success); }
.badge.is-danger { border-color:var(--danger);  } .badge.is-danger .badge-content { color:var(--danger);  }
.badge.is-warning{ border-color:var(--warning); } .badge.is-warning .badge-content{ color:#7c6024;      }
.badge.is-link   { border-color:var(--link);    } .badge.is-link .badge-content   { color:var(--link);    }
.badge.is-info   { border-color:var(--info);    } .badge.is-info .badge-content   { color:var(--info);    }

.badge .badge-title{ 
    pointer-events:none;
    user-select: none;
    position:absolute; 
    top:-65%; 
    left:0; 
    right:0; 
    font-size:10px; 
    color:rgba(0,0,0,0.75);
}

.content_right{ width:100%; }

@media only screen and (min-width: 768px){
    .content_right{ padding-left:1em; width:calc(100% - 250px); }
    .cloud:hover{ transform:scale(1.05); }
}

@media only screen and (max-width: 1368px) and (min-width: 768px){
    .sidebar{ width:60px; }
    .sidebar .sidebar_item span:not(.icon){ display:none; }
    .sidebar .sidebar_item{ width:40px; padding:6px 0px; margin:5px 10px; justify-content: center; }
    .main{ width: calc(100vw - 60px); }
}

@media only screen and (max-width: 768px){
    .sidebar{ display:none; }
    .main{ width:100vw; }
    .window{ padding:0; margin-bottom:30vh; }
    .user_lookup input { width: 100%; border-radius: 10px; border: none !important; }
    .field.has-addons .control .button{ font-size:13px; }
    .field.has-addons.mb-0{ margin-bottom:10px!important; }
    .field.has-addons, .field.has-addons .full-on-mobile{ width:100%; }
    .sidebar_nav{ width:100%!important; }
    .badge:first-child{ margin-top:10px; }
    .badge:not(:last-child){ margin-bottom:25px; }
    .badges{ justify-content: center; align-items:center; flex-direction:column; }
    .badges .badge{ width:100%; text-align:center; }
}